extends layout


block content
    h3= 'Article name :' + ' ' + article.title
    h4= 'Written by :' + ' ' + article.author
    p=  'Description :' + ' ' + article.body
    p= 'Added date :' + ' ' + article.addedDate
    form(method='POST', action='/articles/bookmarks/' +article._id)
        input.btn(type='submit', value='Bookmark')
    form(method='POST', action='/articles/rm_bookmarks/' +article._id)
        input.btn(type='submit', value='Remove from BM')
    if user
        if user.username == article.author
            a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
            a.btn.btn-danger.delete-article(href='/articles/delete/'+article._id) Delete
    hr
    h3.text-primary #{title}
    each comment, i in comments
        ul.list-group.list-group-flush
            li.list-group-item
                h3= comment.user
                small= comment.createdDate
                hr
                p= comment.comment
                if user.username == article.author || user.username == comment.user
                    a.btn.btn-danger.delete-comment(href='/articles/comment_del/'+comment._id) Delete
 
                
                
                
    hr
    form(method='POST', action='/articles/article/' +article._id)
        #form-group
            textarea.form-control(name='comment', placeholder='Leave a comment here...')
        input.btn.btn-primary(type='submit', value='Post')