extends layout


block content
    h4.text-dark= 'Writer :' + ' ' + article.title
    h4.text-dark= 'Author :' + ' ' + article.author
    p.text-primary=  'Description :' + ' ' + article.body
    if user
        if user.username == article.author
            a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
            a.btn.btn-danger.delete-article(href='/articles/delete/'+article._id) Delete
    hr
    h3.text-primary #{title}
    each comment, i in comments
        ul.list-group.list-group-flush
            li.list-group-item
                p= comment.user
                p= comment.createdDate
                p= comment.comment
                if user.username == article.author || user.username == comment.user
                    a.btn.btn-danger.delete-comment(href='/articles/comment_del/'+comment._id) Delete
                
    hr
    form(method='POST', action='/articles/article/' +article._id)
        #form-group
            textarea.form-control(name='comment', placeholder='Leave a comment here...')
        br
        input.btn.btn-primary(type='submit', value='Post')