extends layout


block content 
        .card.text-white.bg-dark.mb-3
            h4.card-header.text-info= 'Article details'
            .card-body
                h4.card-title= 'Title :' + ' ' + article.title
                h5.card-title 
                    h5= 'Author :' + ' '
                        a.text-info(href='/users/author_profile/'+article.author)= article.author
                h8.card-title Added Date in M/D/YY format :
                p= article.addedDate.getMonth() + 1 + '/' + article.addedDate.getDate() + '/' + article.addedDate.getFullYear() + ' ' + 'Time: ' + article.addedDate.getHours() + ':' + article.addedDate.getMinutes()
                p.card-text=  'Description :' + ' ' + article.body       
                ul.list-inline
                    li.list-inline-item
                        form(method='POST', action='/articles/bookmarks/' +article._id)           
                            input.btn.btn-outline-primary.btn-outline-success(type='submit', value='Bookmark')
                    li.list-inline-item
                        form(method='POST', action='/articles/rm_bookmarks/' +article._id)
                            input.btn.btn-outline-primary.btn-outline-danger(type='submit', value='Remove BM')
                    if user
                        if user.username == article.author
                            li.list-inline-item
                                a.btn.btn-outline-primary.btn-outline-success(href='/articles/edit/'+article._id) Edit
                            li.list-inline-item
                                a.btn.btn-outline-primary.btn-outline-danger(href='/articles/delete/'+article._id) Delete
        h4.font-weight-bold= 'Comment section'
        each comment, i in comments
            .card.bg-light.mb-3
                h5.card-header.font-weight-bold= comment.user
                .card-body
                    small.text-muted Posted Date in M/D/YY format :
                    br
                    small.card-title.text-muted= comment.createdDate.getMonth() + 1 + '/' + comment.createdDate.getDate() + '/' + comment.createdDate.getFullYear() + ' ' + 'Time: ' + comment.createdDate.getHours() + ':' +comment.createdDate.getMinutes()
                    hr
                    p.text-break.card-text= comment.comment
                    if user.username == article.author || user.username == comment.user
                        a.btn.btn-danger.delete-comment(href='/articles/comment_del/'+comment._id) Delete
        h4.font-weight-bold= 'Post comment'
        form(method='POST', action='/articles/article/' +article._id)
            #form-group
                textarea.text-break.form-control(name='comment', placeholder='Leave a comment here...')    
                button.mt-1.btn.btn-primary(type='submit') POST